BODY { 
    width: 650px;           
    margin: 20px auto;      
    padding: 15px 25px;     
    box-sizing: border-box;
    border: 3px solid #2b6cb0; 
    color: green;  
    background: white url('Draft.jpg') no-repeat fixed center center; 
} 

H1, H2, H3, H4, H5, H6 { 
    font-family: Arial, Helvetica, sans-serif; 
} 

ADDRESS { 
    font-size: 0.9em;  
    font-style: normal;  
    text-align: center;  
    text-transform: uppercase; 
} 

BLOCKQUOTE { 
    background-color: silver; 
} 

UL { 
    list-style: circle url('Apple.jpg') outside; 
} 

UL B { 
    color: rgb(155, 0, 0); 
} 

A { 
    font-size: 0.9em;  
    color: green; /* Đã sửa color-green thành color: green; */
} 

A:hover { 
    color: red;  
    text-transform: uppercase; 
    font-weight: bold; 
} 

.Special { 
    color: rgb(153, 102, 6);  
    font-weight: bold; 
} 

DIV.Article { 
    padding: 0.5em;  
    border-style: solid;  
    border-width: 2px;  
    background-color: rgb(252, 221, 163); 
    width: 250px;  
    float: right; 
}
